<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>게시물 작성 </title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />

        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">

        <link href="{{url_for('static', filename = 'css/styles.css')}}" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>


		function sendRequest() {
		    $('#loading').show();
		    var httpRequest = new XMLHttpRequest();
			httpRequest.onreadystatechange = function() {
				if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200 ) {
					document.getElementById("text").innerHTML = httpRequest.responseText;

                    if(httpRequest.responseText!="") {
						console.log('로딩 화면 제거');

                        var play_div = document.getElementById('play_div');

                        play_div.innerHTML = '<audio  controls ><source src = "{{url_for('static', filename = 'audio/output.mp3')}}",type="audio/mpeg"></source></audio>';
						$('#loading').hide();

					}

				}
			};
			// POST 방식의 요청은 데이터를 Http 헤더에 포함시켜 전송함.
			httpRequest.open("POST", "/doaudio4", true);
			httpRequest.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
			httpRequest.send("start=시작");
		}

</script>
<script>

$(document).ready(function() {

$('#loading').hide();
$('#trans').submit(function(){
    $('#loading').show();
    return true;
    });
});

</script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="http://www.aetin.kro.kr/">Aetin's</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
                                        {% if session.get('logFlag')%}
                                            <a style = 'color : white' class="nav-link" href="/logout">로그아웃</a>

                                        {% else %}
                                            <a style = 'color : white' class="nav-link" href="/login">로그인</a>
                                            <a style = 'color : white' class="nav-link" href="/register">회원가입</a>
                                        {% endif %}
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        
                        <li><hr class="dropdown-divider" /></li>
                        <li>
                            {% if session.get('logFlag')%}
                                            <a class="dropdown-item" href="/logout">로그아웃</a>

                                        {% else %}
                                            <a class="dropdown-item" href="/login">로그인</a>

                                        {% endif %}
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                       <!--    <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" href="/index">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>    -->
                            <div class="sb-sidenav-menu-heading">Interface</div>

                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Private
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                        Member
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="/login">로그인</a>
                                            <a class="nav-link" href="/register">회원가입</a>
                                            <a class="nav-link" href="/password">비밀번호찾기</a>
                                        </nav>
                                    </div>
                                    
                                    
                                </nav>
                            </div>
                            <div class="sb-sidenav-menu-heading">Contents</div>
             
                            <a class="nav-link" href="/board">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Board
                            </a>
			    <a class="nav-link" href="/content">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Create Contents
                            </a>
                            </a>
                            <a class="nav-link" href="/audio5">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Dialect to Standard Language
                            </a>
                            <a class="nav-link" href="/audio4">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Dialect to Standard Speech
                            </a>
                        </div>
                    </div>
                    
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">사투리 to 표준어 합성</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Dialect to Standard Speech</li>
                        </ol>
<!-- <form action = "doaudio4z", method="post" enctype="multipart/form-data"> -->
                        <div class="card mb-4">
                            <div class="card-header">
                                음성녹음 시작하기
                            </div>

                            <div class="card-body">

                            <div class="row mb-3">
                            <div>
                                  <input type=checkbox id="chk-hear-mic" class="btn btn-primary btn-xl text-uppercase" ><label for="chk-hear-mic">__마이크 소리 듣기</label>
                            </div>
                            <div>    <button id="record" class="btn btn-primary btn-xl text-uppercase">녹음</button></div>
                            <div> <br></div>
                            <div>   <button id="stop" class="btn btn-primary btn-xl text-uppercase">정지</button></div>

                            <!-- 여기 밑으로 사용자 녹음 파일 나옴 -->
                            <div id="sound-clips"></div>




                            </div>
                            </div>
                        </div>


    <br></br>
                        <div class="card mb-4">
                            <div class="card-header">
                                표준어 합성
                            </div>
                            <div class="card-body">
<form id = "trans" action = "doaudio4", method="post" enctype="multipart/form-data">
                                <div id="speechContainer">
                                <div class="col-md-6">
                               <!-- <div class="form-floating mb-3">
                                     <input class="form-control" name = "start" id="start" type="text"/>
                                    <label for="start"> '시작'을 입력하세요! </label>
                                </div>-->
                                </div>
                                 <div >
                                     <button type="button" class="btn btn-primary btn-xl text-uppercase" onclick="sendRequest()">음성합성 시작</button>
                               <!--  <input   type="submit" class="btn btn-primary btn-xl text-uppercase" value="시작"> -->
                                </div>
  <!--  여기 밑으로는 번역 및 합성한 파일 나옴 -->
<div id="play_div"> <br></div>
    <div id="loading" style="margin-left: 0px;">
    <img src="{{url_for('static', filename = 'images/loadings.gif')}}">
    <p>변환 중입니다..! 잠시만 기다려주세요.</p>
        </div>
    <p id = "text"></p>

                                </div>

                            </div>

                        </div>


</form>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2021</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>

            </div>
        </div>
        <script>
        const record = document.getElementById("record")
        const stop = document.getElementById("stop")
        const soundClips = document.getElementById("sound-clips")
        const chkHearMic = document.getElementById("chk-hear-mic")

        const audioCtx = new(window.AudioContext || window.webkitAudioContext)() // 오디오 컨텍스트 정의

        const analyser = audioCtx.createAnalyser()
        //        const distortion = audioCtx.createWaveShaper()
        //        const gainNode = audioCtx.createGain()
        //        const biquadFilter = audioCtx.createBiquadFilter()

        function makeSound(stream) {
            const source = audioCtx.createMediaStreamSource(stream)

            source.connect(analyser)
            //            analyser.connect(distortion)
            //            distortion.connect(biquadFilter)
            //            biquadFilter.connect(gainNode)
            //            gainNode.connect(audioCtx.destination) // connecting the different audio graph nodes together
            analyser.connect(audioCtx.destination)

        }

        if (navigator.mediaDevices) {
            console.log('getUserMedia supported.')

            const constraints = {
                audio: true
            }
            let chunks = []

            navigator.mediaDevices.getUserMedia(constraints)
                .then(stream => {

                    const mediaRecorder = new MediaRecorder(stream)

                    chkHearMic.onchange = e => {
                        if(e.target.checked == true) {
                            audioCtx.resume()
                            makeSound(stream)
                        } else {
                            audioCtx.suspend()
                        }
                    }

                    record.onclick = () => {
                        mediaRecorder.start()
                        console.log(mediaRecorder.state)
                        console.log("recorder started")
                        record.style.background = "red"
                        record.style.color = "black"
                    }

                    stop.onclick = () => {
                        mediaRecorder.stop()
                        console.log(mediaRecorder.state)
                        console.log("recorder stopped")
                        record.style.background = ""
                        record.style.color = ""
                    }

                    mediaRecorder.onstop = e => {
                        console.log("data available after MediaRecorder.stop() called.")

                        const clipName = 'audio.wav'

                        const clipContainer = document.createElement('article')
                        const clipLabel = document.createElement('p')
                        const audio = document.createElement('audio')
						const href = document.createElement('a')
                        const deleteButton = document.createElement('button')

                        clipContainer.classList.add('clip')
                        audio.setAttribute('controls', '')
                        deleteButton.innerHTML = "삭제"
                        clipLabel.innerHTML = clipName



						href.innerHTML = clipName

                        clipContainer.appendChild(audio)
						clipContainer.appendChild(href)
                        clipContainer.appendChild(clipLabel)
                        clipContainer.appendChild(deleteButton)
                        soundClips.appendChild(clipContainer)

                        audio.controls = true
                        const blob = new Blob(chunks, {
                            type: 'audio/MPEG'
                        })
                        chunks = []
                        const audioURL = URL.createObjectURL(blob)
                        audio.src = audioURL
						                href.setAttribute('href',audioURL)
						                href.setAttribute('download',clipName)

                        var fd = new FormData();
        fd.processData = false;
        fd.contentType = false;
        fd.append('file',blob, clipName);
        console.log("fd");
        console.log(fd);

        var httpRequest = new XMLHttpRequest();
        httpRequest.onreadystatechange = function() {
           if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200 ) {
               console.log(httpRequest.responseText);
            }
        };

        httpRequest.open("POST", "/upload_audio", true);
        httpRequest.send(fd);

                        console.log("recorder stopped")

                        deleteButton.onclick = e => {
                            evtTgt = e.target
                            evtTgt.parentNode.parentNode.removeChild(evtTgt.parentNode)
                        }
                    }

                    mediaRecorder.ondataavailable = e => {
                        chunks.push(e.data)
                    }
                })
                .catch(err => {
                    console.log('The following error occurred: ' + err)
                })
        }

    </script>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/datatables-simple-demo.js') }}"></script>
    </body>
</html>
